<!--
  Generated template for the Maps page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Platform</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-card *ngFor="let platform of platforms.list" (click)="showTutorials(platform)">
    <ion-item>
      <div class="center-icon">
        <div>
          <ion-icon name="{{ platform.icon }}" class="tutorial-icon"></ion-icon>
        </div>
      </div>
      <div class="center-icon">
         <h2>{{ platform.name }}</h2>
      </div>
      <p></p>
    </ion-item>
  </ion-card>

<!--   <ion-card class="option-card" *ngFor="let option of question.options" (click)="nextQuestion(option)">
    <ion-card-header>
      {{ option.title }}
    </ion-card-header>
    <ion-card-content>
    {{ option.subtitle }}
    </ion-card-content>
  </ion-card> -->

  <!-- <ion-card>
    <ion-item>
      <div class="center-icon">
        <div>
          <ion-icon name="ios-globe-outline" class="tutorial-icon"></ion-icon>
        </div>
      </div>
      <div class="center-icon">
         <h2>Web</h2>
      </div>
      <p></p>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item>
      <div class="center-icon">
        <div>
          <ion-icon name="logo-apple" class="tutorial-icon"></ion-icon>
        </div>
      </div>
        <div class="center-icon">
          <div>
            <h2>iOS</h2>
          </div>
        </div>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item>
      <div class="center-icon">
        <div>
          <ion-icon name="logo-android" class="tutorial-icon"></ion-icon>
        </div>
      </div>
      <div class="center-icon">
          <h2>Android</h2>
      </div>
      <p></p>
    </ion-item>
  </ion-card> -->

</ion-content>
