page-create {

  .create-cards {

    ion-card {
      position: relative;
      text-align: center;
    }

    .title-card {
      height: 100px;
      background: #1C6BA0;
    }

    .option-card {
      height: 125px;
      background: #87ceeb;
    }

    ion-card-header {
      font-size: 1.5em;
      top: 30%;
      color: #fff;
    }

    ion-card-content {
      top: 58%;
      color: #fff;
    }
  }
}


